@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@font-face {
  font-family: "UnitedSansReg-Black";
  src: url("./fonts/UnitedSansReg-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "UnitedSansReg-Heavy";
  src: url("./fonts/UnitedSansReg-Heavy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "UnitedSansRgBd";
  src: url("./fonts/UnitedSansRgBd.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

form {
  width: 100%;
}

td {
  border-color: #2b2b2b !important;
}

/* In your CSS file */
button,
a {
  cursor: pointer !important;
}

.highlight {
  background-color: rgba(255, 255, 0, 0.3); /* Light yellow background */
}

.css-0 p {
  font-weight: 500;
  font-size: 15px;
}

p.chakra-text.boxScoreName.css-105lvid {
  font-size: 14px;
}

.athletes {
  font-size: 13px !important;
}

@media screen and (min-width: 860px) {
  .css-1726vc4 {
    padding-right: 50px !important;
  }
}

@media (max-width: 767px) {
  .athletes {
    font-size: 11px !important;
  }
  p.chakra-text.boxScoreName.css-105lvid {
    font-size: 12px;
  }
  span.dt-column-order {
    right: 0px !important;
  }
  p.chakra-text.mobilePlayerInfo {
    font-size: 13px;
  }
  .css-r4358i {
    min-height: 70vh;
  }
}
